<a href="https://colab.research.google.com/github/adambkarajah/python/blob/main/adamKarajah.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#    سبحان الله وبحمده   
#    سبحان الله العظيم

In [ ]:
print("hi",544,54.25,9j,"ada"+"m")
adamint = 53 
print("type adamint :" , type(adamint) ,"adamint = ", adamint)


adamfloat = 1.77
print("type adamfloat :" , type(adamfloat),"adamfloat = ",adamfloat)


adamcomplex = 34j
print("type adamcomplex :" , type(adamcomplex),"adamcomplex = ",adamcomplex)


adambool = True #or False
print("type adambool :" , type(adambool),"adambool = ",adambool)

hi 544 54.25 9j adam
type adamint : <class 'int'> adamint =  53
type adamfloat : <class 'float'> adamfloat =  1.77
type adamcomplex : <class 'complex'> adamcomplex =  34j
type adambool : <class 'bool'> adambool =  True

In [ ]:
adamstr1 = 'Hello, I am text 1 '
print("type adamstr1 :" , type(adamstr1) ,"adamstr1 = ", adamstr1)



adamstr2 = "Hello, I am text 2 "
print("type adamstr2 :" , type(adamstr2) ,"adamstr2 = ", adamstr2)


adamstr3 =""" Hello, I am text 3
Hello, I am text 3 """
print("type adamstr3 :" , type(adamstr3) ,"adamstr3 = ")
print(adamstr3)


adamstr4 =''' Hello, I am text 4
Hello, I am text 4 '''
print("type adamstr4 :" , type(adamstr4) ,"adamstr4 = ")
print(adamstr4)

type adamstr1 : <class 'str'> adamstr1 =  Hello, I am text 1
type adamstr2 : <class 'str'> adamstr2 =  Hello, I am text 2
type adamstr3 : <class 'str'> adamstr3 =
 Hello, I am text 3
Hello, I am text 3
type adamstr4 : <class 'str'> adamstr4 =
 Hello, I am text 4
Hello, I am text 4

In [ ]:
adamList1 = []
print("type adamList1 :" , type(adamList1) ,"adamList1 = ",adamList1)


adamList2 = [11, 22, 33, 44, 55]

adamList3 = ['adam b', 'adam adam', 'adams']

adamList4 = [ adamint , adamfloat , adamcomplex , adambool , adamstr1 , adamList2 ]
print(adamList4)


adamList5 = [[11, 22, 33, 44, 55],[66, 77, 88, 99, 111],[122, 133, 144, 155, 166],[177, 188, 199, 222, 333]]

type adamList1 : <class 'list'> adamList1 =  []
[53, 1.77, 34j, True, 'Hello, I am text 1 ', [11, 22, 33, 44, 55]]

In [ ]:
#    سبحان الله وبحمده   
#    سبحان الله العظيم  

adamTuple1 = ()
print("type adamTuple1 :" , type(adamTuple1) ,"adamTuple1 = ",adamTuple1)


adamTuple2 = ( 11, 22, 33, 44, 55 )
adamTuple3 = ( 'ad  am', 'ad  am ad am', 'ad ams' )
adamTuple4 = ( adamint , adamfloat , adamcomplex , adambool , adamstr1 , adamList2 , adamTuple2 )
print(adamTuple4)

adamTuple5 = ( (11, 22, 33, 44, 55) , (66, 77, 88, 99, 111) , (122, 133, 144, 155, 166) , (177, 188, 199, 222, 333) )

type adamTuple1 : <class 'tuple'> adamTuple1 =  ()
(53, 1.77, 34j, True, 'Hello, I am text 1 ', [11, 22, 33, 44, 55], (11, 22, 33, 44, 55))

In [ ]:
adamSet1 = {1}
print("type adamSet1 :" , type(adamSet1) ,"adamSet1 = ",adamSet1)


adamSet2 = { 11, 22, 33, 44, 55 }
adamSet3 = { 'ad  am', 'ad  am ad am', 'ad ams' }
adamSet4 = {54 , adamfloat , adamcomplex , adambool , adamstr1  ,adamTuple2 }
print(adamSet4)

type adamSet1 : <class 'set'> adamSet1 =  {1}
{1.77, True, 34j, (11, 22, 33, 44, 55), 'Hello, I am text 1 ', 54}

In [ ]:
a =b =x =z =40
print("a = ",a)
print("b = ",b)
print("x = ",x)
print("z = ",z)
print()
print()
a=23
b+=5
x*=2
z/=2
print("a = ",a)
print("b = ",b)
print("x = ",x)
print("z = ",z)
print()
print()
print("a*b : ", a*b)
print("a+b : ", a+b)
print("a-b : ", a-b)
print("a/b : ", a/b)
print()
print()
print("a==b : ", a==b)
print("a!=b : ", a!=b)
print("a<b : ", a<b)
print("a>b : ", a>b)
print("a>=b : ", a>=b)
print("a<=b : ", a<=b)
print()
print()
print("a==b and a!=b : ", a==b and a!=b)
print("a==b or a!=b : ", a==b or a!=b)
print("a==b and not a!=b : ", a==b and not a!=b)
print("a in [12,443,212,121,22,23] : ", a in [12,443,212,121,22,23])
print("a is a : ", a is a)
print()
print()
print("4**5 =",4**5)

a =  40
b =  40
x =  40
z =  40


a =  23
b =  45
x =  80
z =  20.0


a*b :  1035
a+b :  68
a-b :  -22
a/b :  0.5111111111111111


a==b :  False
a!=b :  True
a<b :  True
a>b :  False
a>=b :  False
a<=b :  True


a==b and a!=b :  False
a==b or a!=b :  True
a==b and not a!=b :  False
a in [12,443,212,121,22,23] :  True
a is a :  True


4**5 = 1024

In [ ]:
#    سبحان الله وبحمده   
#    سبحان الله العظيم  

if a==b or a!=b:
  print("a==b or a!=b")
    
elif a!=b:
  print("a!=b")

else:
    print(" لم يتحقق اي شرط ")

a==b or a!=b

In [ ]:
for i in range(1, 6):
  print(i)
print("---------------------------")
for i in range(0, 8,3):
  print(i)
print("---------------------------")
adamList6 =[10,41,31,21]
for i in adamList6:
  print(i)

print("------------while---------------")

i = 1
while i <= 4:
  print(i)
  i +=1

1
2
3
4
5
---------------------------
0
3
6
---------------------------
10
41
31
21
------------while---------------
1
2
3
4

In [ ]:
adamList7 = [0,1,2,3,4,5]
adamList8 = ["adom","e","as","saa","sa","d"]
print("adamList7 : " , adamList7)
adamList7.append(6)
print("adamList7.append(6) : " , adamList7)
adamList7.extend(adamList8)
print("adamList7.extend(adamList8) : " , adamList7)
adamList7.insert(1, 12312)
print("adamList7.insert(1, 12312) : " , adamList7)

print(adamList7.pop())#set
print("adamList7.pop()#set : " , adamList7)

adamList8.extend(adamList7.copy())
print("adamList8.extend(adamList7.copy())#set : " , adamList8)

adamList7.clear()
print("adamList7.clear()  : ", adamList7 )

print("""adamList8.count("adom")#tuple :""",adamList8.count("adom"))#tuple 

adamList8.remove("adom")
print("""adamList8.remove("adom") :""",adamList8)

print("""adamList8.index("adom")#tuple :""",adamList8.index("adom"))#tuple
adamList9 =[2,0,4,2,55,99,11]
print("adamList9 :",adamList9)
adamList9.sort()
print("""adamList9.sort() :""",adamList9)
adamList9.reverse()
print("""adamList9.reverse() :""",adamList9)

print("len(adamList9)#tuple  +set : ",len(adamList9))#tuple  +set
print("min(adamList9)#tuple  +set : ",min(adamList9))#tuple  +set
print("max(adamList9)#tuple  +set : ",max(adamList9))#tuple  +set

adamList7 :  [0, 1, 2, 3, 4, 5]
adamList7.append(6) :  [0, 1, 2, 3, 4, 5, 6]
adamList7.extend(adamList8) :  [0, 1, 2, 3, 4, 5, 6, 'adom', 'e', 'as', 'saa', 'sa', 'd']
adamList7.insert(1, 12312) :  [0, 12312, 1, 2, 3, 4, 5, 6, 'adom', 'e', 'as', 'saa', 'sa', 'd']
d
adamList7.pop()#set :  [0, 12312, 1, 2, 3, 4, 5, 6, 'adom', 'e', 'as', 'saa', 'sa']
adamList8.extend(adamList7.copy())#set :  ['adom', 'e', 'as', 'saa', 'sa', 'd', 0, 12312, 1, 2, 3, 4, 5, 6, 'adom', 'e', 'as', 'saa', 'sa']
adamList7.clear()  :  []
adamList8.count("adom")#tuple : 2
adamList8.remove("adom") : ['e', 'as', 'saa', 'sa', 'd', 0, 12312, 1, 2, 3, 4, 5, 6, 'adom', 'e', 'as', 'saa', 'sa']
adamList8.index("adom")#tuple : 13
adamList9 : [2, 0, 4, 2, 55, 99, 11]
adamList9.sort() : [0, 2, 2, 4, 11, 55, 99]
adamList9.reverse() : [99, 55, 11, 4, 2, 2, 0]
len(adamList9)#tuple  +set :  7
min(adamList9)#tuple  +set :  0
max(adamList9)#tuple  +set :  99



adamTuple6 = ( 1, 2, "Tuple", 4, 5 )
adamList10 = [list(adamSet5),list(adamTuple6)]
print("adamSet5 : ", adamSet5)
print("adamTuple6 : ", adamTuple6)
print("adamList10 = [list(adamSet5),list(adamTuple6)] : ", adamList10)#tuple + set

In [ ]:
#    سبحان الله وبحمده   
#    سبحان الله العظيم  

adamSet6 = { 1, 2, 3, 4, 5 }
print("adamSet6 : ", adamSet6)
adamSet6.add(6)
print("adamSet6.add(6) : ", adamSet6)
print("adamSet6.difference({ 1, 2, 4, 5 }) : ", adamSet6.difference({ 1, 2, 4, 5 }))
#adamSet6.difference_update({ 1, 2, 4, 5 })   adamSet6 في difference بتخزن ناتج 

print("adamSet6.intersection({ 1, 2, 4, 5 }) : ", adamSet6.intersection({ 1, 2, 4, 5 }))
#adamSet6.intersection_update({ 1, 2, 4, 5 })   adamSet6 في intersection بتخزن ناتج 

print("adamSet6.symmetric_difference({ 1, 2, 4, 5 }) : ", adamSet6.symmetric_difference({ 1, 2, 4, 5 }))
#adamSet6.symmetric_difference_update({ 1, 2, 4, 5 })   adamSet6 في symmetric_difference بتخزن ناتج 

print("adamSet6.union({ 1, 2, 9, 5 }) : ", adamSet6.union({ 1, 2, 9, 5 }))
adamSet6.update({ 1, 2, 9, 5 })
print("adamSet6.update({ 1, 2, 9, 5 }) : ", adamSet6)
adamSet6.discard(9)
print("adamSet6.discard(9)#اذا العنصر مش موجود KeyError بتعمل remove زي بعض بيحذفو عنصر بس : ", adamSet6)
print("adamSet6.isdisjoint({ 1, 2, 9, 5 })# True اذا فش عناصر مشتركه بترجع  : ", adamSet6.isdisjoint({ 1, 2, 9, 5 }))
print("adamSet6.issuperset({ 1, 2, 9, 5 })# True اذا جميع العناصر الي بعتهم موجودات في المستدعاه بترجع  : ", adamSet6.issuperset({ 1, 2, 9, 5 }))
print("adamSet6.issubset({ 1, 2, 9, 5 })# True اذا جميع العناصر في المستدعاه موجودات في الي بعتهم بترجع  : ", adamSet6.issubset({ 1, 2, 9, 5 }))

adamSet6 :  {1, 2, 3, 4, 5}
adamSet6.add(6) :  {1, 2, 3, 4, 5, 6}
adamSet6.difference({ 1, 2, 4, 5 }) :  {3, 6}
adamSet6.intersection({ 1, 2, 4, 5 }) :  {1, 2, 4, 5}
adamSet6.symmetric_difference({ 1, 2, 4, 5 }) :  {3, 6}
adamSet6.union({ 1, 2, 9, 5 }) :  {1, 2, 3, 4, 5, 6, 9}
adamSet6.update({ 1, 2, 9, 5 }) :  {1, 2, 3, 4, 5, 6, 9}
adamSet6.discard(9)#اذا العنصر مش موجود KeyError بتعمل remove زي بعض بيحذفو عنصر بس :  {1, 2, 3, 4, 5, 6}
adamSet6.isdisjoint({ 1, 2, 9, 5 })# True اذا فش عناصر مشتركه بترجع  :  False
adamSet6.issuperset({ 1, 2, 9, 5 })# True اذا جميع العناصر الي بعتهم موجودات في المستدعاه بترجع  :  False
adamSet6.issubset({ 1, 2, 9, 5 })# True اذا جميع العناصر في المستدعاه موجودات في الي بعتهم بترجع  :  False

In [ ]:
#dict
adamdict1= {"a":100 , "b" : 200 ,"c" : 300}
adamdict2= {1:111,2:222,3:333}

for i in adamdict1:#adamdict1.keys()
  print(i,"  ",adamdict1[i])

adamdict1.update(adamdict2)
adamdict1["adom"]=235.3

for i in adamdict1.values():
  print(i)
print("adamdict1 : ",adamdict1)
print("adamdict2 : ",adamdict2)
del adamdict2 # حذفة

a    100
b    200
c    300
100
200
300
111
222
333
235.3
adamdict1 :  {'a': 100, 'b': 200, 'c': 300, 1: 111, 2: 222, 3: 333, 'adom': 235.3}
adamdict2 :  {1: 111, 2: 222, 3: 333}

In [ ]:
def adamfunction1():
  print("adamfunction1")
def adamfunction2(a):
  print("adamfunction",a)
def adamfunction3():
  return "adamfunction3"
def adamfunction4(a=7):
  return "adamfunction4",a


adamfunction1()
adamfunction2(777)
print(adamfunction3())
print(adamfunction4())
print(adamfunction4(55))

g =40
def adamfunction5():
  global g
  g=30
print(g)
adamfunction5()
print(g)

adamfunction1
adamfunction 777
adamfunction3
('adamfunction4', 7)
('adamfunction4', 55)
40
30

In [ ]:
#    سبحان الله وبحمده   
#    سبحان الله العظيم  

class adamclass:
  def __init__(self, name, id):
    self.name = name
    self.id = id
  def p(self):
    print(" name : {} \n id : {} ".format(self.name,self.id))
adamclass1 = adamclass("adam","123adam")
adamclass1.p()
print("-----------------")
adamclasslist = [ adamclass("adam","1adam1") , adamclass("adam","2adam2") , adamclass("adam","3adam3") , adamclass("adam","4adam4") ]
for i in range(len(adamclasslist)):
  adamclasslist[i].p()
print("-------- الوراثه ---------")
class adamclass0(adamclass):
  def __init__(self, name = "adam" , id = "1000adam0000" , age = 21):
    super().__init__(name, id)
    self.age=age
  def p(self):#Overriding
    super().p()
    print(" age : {} ".format(self.age))
adamclass2 =adamclass0()
adamclass2.p()

 name : adam
 id : 123adam
-----------------
 name : adam
 id : 1adam1
 name : adam
 id : 2adam2
 name : adam
 id : 3adam3
 name : adam
 id : 4adam4
-------- الوراثه ---------
 name : adam
 id : 1000adam0000
 age : 21

**@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@**

Write a program functions that reads the elements of two lists from the user and then print the summation result of the two lists from a third lists.
إنشاء دالة تأخذ قيم خاصة في المصفوفة الأولى و الثانية كمدخلات ثم طباعة نتيجة جمع قيم المصفوفتين في مصفوفة ثالثة

In [ ]:
def Add_two_matrices():
  adamlist1 =[]
  adamlist2 =[]
  adamlist3 =[]
  adamnu = input("كم عدد العناصر التي تريد جمعها")
  adamnu = int(adamnu)

  for i in range(0,adamnu):
    adamx = input("ادخل الرقم في المصفوفه الاولى")
    adamlist1.append(int(adamx))
    adamx = input("ادخل الرقم في المصفوفه الثانيه")
    adamlist2.append(int(adamx))
    adamlist3.append(adamlist1[i]+adamlist2[i])
  print("adamlist1 : ",adamlist1)
  print("adamlist2 : ",adamlist2)
  print("adamlist3 : ",adamlist3)



Add_two_matrices()

كم عدد العناصر التي تريد جمعها3
ادخل الرقم في المصفوفه الاولى2
ادخل الرقم في المصفوفه الثانيه5
ادخل الرقم في المصفوفه الاولى4
ادخل الرقم في المصفوفه الثانيه7
ادخل الرقم في المصفوفه الاولى1
ادخل الرقم في المصفوفه الثانيه3
adamlist1 :  [2, 4, 1]
adamlist2 :  [5, 7, 3]
adamlist3 :  [7, 11, 4]

**@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@**

Write a program that reads the elements of two 2D arrays/lists from the user and then print the summation result of the two lists from a third list.
اكتب برنامجًا يقرأ عناصر صفيفتين / قائمتين ثنائي الأبعاد من المستخدم ثم اطبع نتيجة التلخيص للقائمتين من القائمة الثالثة.

In [ ]:
def adam2list():
  adam2List1 = [[0],[0]]
  adamnu = input("كم عدد العناصر في الصف الأول ")
  adamnu = int(adamnu)
  
  for i in range(0,adamnu):
    adamx = input("adamList1[0]["+str(i)+"] =")
    adam2List1[0].append(adamx)
  adamnu = input("كم عدد العناصر في الصف الثاني")
  adamnu = int(adamnu)
  for i in range(0,adamnu):
    adamx = input("adamList1[1]["+str(i)+"] =")
    adam2List1[1].append(adamx)
  adam2List1[0].remove(0)
  adam2List1[1].remove(0)
  print(adam2List1[0])
  print(adam2List1[1])
  print(adam2List1)


adam2list()

كم عدد العناصر في الصف الأول 4
adamList1[0][0] =1
adamList1[0][1] =2
adamList1[0][2] =3
adamList1[0][3] =4
كم عدد العناصر في الصف الثاني3
adamList1[1][0] =4
adamList1[1][1] =2
adamList1[1][2] =8
['1', '2', '3', '4']
['4', '2', '8']
[['1', '2', '3', '4'], ['4', '2', '8']]

**@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@**

Write a program that asserts if two arrays/lists are equal.
إنشاء دالة لمقارنة قيم المصفوفتين في حالة كانت القيم متساوية أم لا.

In [ ]:
def adamEquallist1(a=[],b=[]):
  a=set(a)
  b=set(b)
  print("Equal : ",a.issuperset(b) and b.issuperset(a))
adamEquallist1(["2","adam"],["200","adam"])
print("---------------------------------طريقه اخرى-----------------------------------")
def adamEquallist2(a=[],b=[]):
  adams =False
  if len(a)==len(b):
    adams =True
    for i in range(0,len(a)):
      if a.count(b[i]) ==0 and b.count(a[i]) ==0:
        adams=False
  print("Equal : ",adams)

adamEquallist2(["2","adam"],["2","adam"])

Equal :  False
---------------------------------طريقه اخرى-----------------------------------
Equal :  True

#    سبحان الله وبحمده   
#    سبحان الله العظيم